body{
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgba(214, 214, 214, 0.721);
}

h1{
    color:rgb(47, 128, 243);
}

form{
    background-color: antiquewhite;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.412);
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 1.3em;
    border: 2px solid rgba(0, 0, 0, 0.412);
    border-radius: 5px;
    margin-bottom: 15px;
}

label{
    font-size: 1.1em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgb(252, 154, 154);
    font-size: 1.3em;
    border: none;
    border-radius: 7px;
    padding: 6px 15px;
    cursor:pointer;
}

button:hover{
    background-color: rgb(244, 88, 88);
}

#result{
    font-size: 1.7em;
    font-weight: bold;
}