#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size:1.5rem;
    padding: 10px 15px;
    border-radius: 8px;
    border:none;
    background-color: blanchedalmond;
    cursor: pointer;
    font-weight: bold;
    color:rgb(73, 73, 73);
    
}

button:hover{
    background-color: rgb(252, 204, 132);
}
button:active{
    background-color: rgb(245, 180, 82);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
}

#diceResult{
    margin: 25px;
}

#diceImages img{
    width: 150px;
    margin: 5px;
}